@import "tailwindcss";
@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
}
@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

@theme {
  --font-sf: "SF Pro Display", Inter, ui-sans-serif, system-ui, Arial,
    sans-serif;
}
